.nav {
    display: flex;
    justify-content: space-between;
    padding : 25px 25px 25px 25px;
    background-color: rgb(9, 80, 134);
    height: 1vh;
}

.left {
    padding-left: 10px;
    color: white;
}

.right {
    display: flex;
    padding-right: 10px;
    background-color: aquamarine;
}

link{
    padding: 10px 10px 10px 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    height: 10px;

}